body
{	
	background-image: url('nature.jpg');
	background-repeat: no-repeat;
	font-family: 'Encode Sans SC', sans-serif;
	margin-bottom: 30px;
}
.input
{
	font-size: 30px;
	text-align: center;
}
#output
{
	margin-top: 170px;
	font-size: 100px;
	text-align: center;
}
